<a href="https://colab.research.google.com/github/Muskan-patel/python-code/blob/main/Practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World');

Hello World

In [ ]:
num1 = 5
num2 =10
sum = num1+ num2;
print("sum:",sum)
""" x = 5
y= 10

print(x + y)
"""

sum: 15

' x = 5\ny= 10\n\nprint(x + y)\n'

In [ ]:
#global Varaible

x = "awesome"

def myfun():
  print("python is",  x)
myfun()

python is awesome

In [ ]:
MyList = ["dsa", "CN", "WD"]
print(MyList)
print(len(MyList))

['dsa', 'CN', 'WD']
3

In [ ]:
list1 = ["CRICKET","BATMINTON","FOOTBALL"]
#list1.append("Sports")
list1.insert(0, "SPORTS")
print(list1)

['SPORTS', 'CRICKET', 'BATMINTON', 'FOOTBALL']

In [ ]:
list2 = ["girls", "boys", "male","muskan"]
list2[3] = "female"
print(list2)

['girls', 'boys', 'male', 'female']

In [ ]:
a= input("Enter First Number")
b= input("Enter Second number")
sum = float(a)+float(b)
print("The sum of a and b",sum)

Enter First Number10.5
Enter Second number5.5
The sum of a and b 16.0

In [ ]:
num1 = 10
num2 = 5
sub = num1-num2
print("Subtract:", sub)

Subtract: 5

In [ ]:
num1 = 3
num2 = 3
into = num1*num2
print("Multiply :", into)

Multiply : 9

In [ ]:
x = 10
y = "Muskan"
print(x)
print(y)

10
Muskan

In [ ]:
#Casting
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#Type Function
x = 5
y= "Muskan"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# double quote and single quote
x = "Muskan"
# same as a
y = 'Muskan'
print(x)
print(y)

Muskan
Muskan

In [ ]:
# Case-Sensitive
x = 4
X = "muskan"
print(x)
print(X)
#X will not overwrite x

4
muskan

In [ ]:
#Variable Names
myVariable = 10
#camel-case
MyVariable = 15
#pascal-case
#snake
my_variable = 20
print(myVariable)
print(MyVariable)
print(my_variable)

10
15
20

In [ ]:
# Many Value to multiple Variable
x, y, z = "muskan", 19, 20
print(x)
print(y)
print(z)

muskan
19
20

In [ ]:
x=y=z="muskan"
print(x)
print(y)
print(z)

muskan
muskan
muskan

In [ ]:
""" Hello Muskan
How Are you?? """

' Hello Muskan\nHow Are you?? '

In [ ]:
#Unpack Collection
fruits = ["apple", "orange", "mango"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
orange
mango

In [ ]:
x = "hello "
y ="muskan "
z = "kurmi"
print(x,y,z)
print(x + y + z)

hello  muskan  kurmi
hello muskan kurmi

In [ ]:
cars = ["maruti", "suzuki", "honda", "tesla"]
a,b,c,d = cars
print(a,b,c,d);

maruti suzuki honda tesla

# ***Practice***