<a href="https://colab.research.google.com/github/Muskan-patel/python-code/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(4):
  a= input("Name of the student")
  b=int(input("Enter the marks of maths"))
  c=int(input("enter the marks of maths"))
  d=int(input("enter  "))

In [ ]:
def electricity_bill(n):
  if n<=500:
   print("Your bill is Rs", n*5)
  elif n>500 and n<=700:
   print("your bill Rs", n*10)
  elif n>700 and n<=1000:
    print("your bill is Rs", n*15)
  elif n>1000:
    print("your bill is Rs", n*20)
for i in range(5):
  a = input("Enter the name of a customer")
electricity_bill(50);

Your bill is Rs 250

In [ ]:
x=8
y=1.33
z=x+y
print(z)

9.33

In [ ]:
i = 55
s = "apple"
print(s+str(i))
print(i)

apple55
55

In [ ]:
s1 = ''' This is multiline
string
'''
print(s1)

 This is multiline
string

In [ ]:
lang = ['Python', 'Java', 'javascript','C++','SQL']
print('List of languages are:',lang)

List of languages are: ['Python', 'Java', 'javascript', 'C++', 'SQL']

In [ ]:
s = "my name is muskan"
len(s)

17

In [ ]:
s.replace('y', 'yy')

'myy name is muskan'

In [ ]:
msg = "my name is is muskan"
msg.count("is")

2